body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #ecebef, #fdfffe);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(66, 5, 126, 0.9);
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-brand img {
  max-height: 60px;
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8967e !important;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icon {
  font-size: 18px;
  color: #060606;
  background-color: #eff3f5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;
}

.social-icon:hover {
  transform: rotate(360deg) scale(1.2);
  background-color: #910fee;
  color: #f0edf4;
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f68936;
  z-index: -1;
  transition: top 0.3s;
}

.social-icon:hover::before {
  top: 0;
}

.main-content {
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  flex: 1;
  background-image: url("https://mituniversity.ac.in/assets_web/images/FES/IT_Building2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-content h1 {
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.main-content h2 {
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.footer {
  background-color: rgba(66, 5, 126, 0.9);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar-brand {
    flex-grow: 1;
    text-align: center;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-collapse {
    background-color: rgba(66, 5, 126, 0.9);
    padding: 10px;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .main-content {
    padding: 40px 20px;
  }
}
